*{
  margin:0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Lato', sans-serif;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(Imagenes/banner1.jpg
  );
  background-position: center;
  background-size: cover;
  position: relative;
}

.campus{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(Imagenes/campus.jpg
  );
  background-position: center;
  background-size: cover;
  position: relative;

}
  
.campus1{
  width:80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  
}  
  
.contacto{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(Imagenes/banner1.jpg
  );
  background-position: center;
  background-size: cover;
  position: relative;
}

.campus-uni{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  
}

.campus-uni img{
  width: 100%;
  position: absolute;
 
}

.nosotros1{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(Imagenes/nosotros.jpg
  );
  background-position: top;
  background-size: cover;
  position: relative;
}

.curso{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(Imagenes/banner2.jpg
  );
  background-position: center;
  background-size: cover;
  position: relative;
}

nav{
  display:flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links{
  flex:1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display:inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li ::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #80fae1;
  display: block;
  margin: auto;
  transition: 0.5s;
}


/* Acá añadimos el efecto hover, debe ir pegado con ::after */
.nav-links ul li :hover::after{
  width: 100%;
  background: #80fae1;
}

.caja-texto{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.caja-texto-contacto{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 11%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.caja-texto-campus{
  width: 90%;
  color: #fff;
  position: relative;
  top: 10%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.campus-columna{
  flex-basis: 31%;
  background: #fff3f3;
  position:relative;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.caja-texto h1 {
  font-size: 62px;
}

.caja-texto p{
  margin: 12px 0 40px;
}

.caja-texto-nosotros{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 15%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}


.boton-visitanos{
  display: inline-block;
  text-decoration: none;
  color:#fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 14px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.boton-visitanos:hover{
  border: 1px solid #6957cc;
  background: #3b1fd1;
}

@media(max-width: 700px) {
  .caja-texto h1{
    font-size: 22px;
  }


.nav-links ul li{
  display: block;
}  
/* vh = viewport heiht (altura del dispositivo) 100vh = 100% */
.nav-links{
  position: absolute;
  background: #3b1fd1;
  height: 100vh;
  width: 180px;
  top: 0;
  right: 0;
  text-align: left;
  
  }
}

.fila{
  margin-top:0;
  display: flex;
  justify-content: space-between;
}

.curso-columna{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.fila1{
  margin-top:0%;
  display: flex;
  justify-content: space-between;
  position: relative;
  left:auto;
  top: 10%;
  
}

.nosotros-columna{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  top:15%;
  
  }

.contacto-columna{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  
}
